# Classification of Lab Samples

In [1]:
import init
from common import constants as cn
from common.trinary_data import TrinaryData
from common.data_provider import DataProvider
from common_python.plots import util_plots
from common_python.classifier import classifier_ensemble
from common_python.classifier import classifier_collection
from common_python.classifier.classifier_ensemble_random_forest import ClassifierEnsembleRandomForest
from common import transform_data

import collections
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn
from sklearn.decomposition import PCA
from sklearn import svm
from sklearn.model_selection import cross_val_score

%matplotlib inline

In [2]:
data = TrinaryData()
data.df_X.head()

,0,1,2,3,4,5,6,7,8,9,...,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514
T2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,1,1,1,1,1,1,1,1,1,1
T3,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,1,1,1,1,1,1,1,1,1,1
T4,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,1,1,1,1,1,1,1,1,1,1
T5,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,1,1,1,1,1,1,1,1,1,1
T6,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,1,1,1,1,1,1,1,1,1,1

In [3]:
df_sampleAM = transform_data.trinaryReadsDF(
    csv_file="AM_MDM_Mtb_transcripts_DEseq.csv")
df_sampleAW = transform_data.trinaryReadsDF(
"AW_plus_v_AW_neg_Mtb_transcripts_DEseq.csv")

normalizeReadsDF: could not find gene in df_gene_description: AS1726
normalizeReadsDF: could not find gene in df_gene_description: AS1890
normalizeReadsDF: could not find gene in df_gene_description: ASdes
normalizeReadsDF: could not find gene in df_gene_description: ASpks
normalizeReadsDF: could not find gene in df_gene_description: MT0009
normalizeReadsDF: could not find gene in df_gene_description: MT0012
normalizeReadsDF: could not find gene in df_gene_description: MT0025
normalizeReadsDF: could not find gene in df_gene_description: MT0031
normalizeReadsDF: could not find gene in df_gene_description: MT0032
normalizeReadsDF: could not find gene in df_gene_description: MT0036
normalizeReadsDF: could not find gene in df_gene_description: MT0066.2
normalizeReadsDF: could not find gene in df_gene_description: MT0069
normalizeReadsDF: could not find gene in df_gene_description: MT0099.1
normalizeReadsDF: could not find gene in df_gene_description: MT0116.1
normalizeReadsDF: could not find gene in df_gene_description: MT0122
normalizeReadsDF: could not find gene in df_gene_description: MT0124
normalizeReadsDF: could not find gene in df_gene_description: MT0130
normalizeReadsDF: could not find gene in df_gene_description: MT0159
normalizeReadsDF: could not find gene in df_gene_description: MT0177
normalizeReadsDF: could not find gene in df_gene_description: MT0204.1
normalizeReadsDF: could not find gene in df_gene_description: MT0270
normalizeReadsDF: could not find gene in df_gene_description: MT0270.2
normalizeReadsDF: could not find gene in df_gene_description: MT0291.1
normalizeReadsDF: could not find gene in df_gene_description: MT0291.2
normalizeReadsDF: could not find gene in df_gene_description: MT0291.4
normalizeReadsDF: could not find gene in df_gene_description: MT0294
normalizeReadsDF: could not find gene in df_gene_description: MT0325
normalizeReadsDF: could not find gene in df_gene_description: MT0328.1
normalizeReadsDF: could not find gene in df_gene_description: MT0328.2
normalizeReadsDF: could not find gene in df_gene_description: MT0347
normalizeReadsDF: could not find gene in df_gene_description: MT0383
normalizeReadsDF: could not find gene in df_gene_description: MT0392
normalizeReadsDF: could not find gene in df_gene_description: MT0407
normalizeReadsDF: could not find gene in df_gene_description: MT0416
normalizeReadsDF: could not find gene in df_gene_description: MT0431
normalizeReadsDF: could not find gene in df_gene_description: MT0450
normalizeReadsDF: could not find gene in df_gene_description: MT0470
normalizeReadsDF: could not find gene in df_gene_description: MT0472.1
normalizeReadsDF: could not find gene in df_gene_description: MT0492
normalizeReadsDF: could not find gene in df_gene_description: MT0494
normalizeReadsDF: could not find gene in df_gene_description: MT0506
normalizeReadsDF: could not find gene in df_gene_description: MT0512
normalizeReadsDF: could not find gene in df_gene_description: MT0525
normalizeReadsDF: could not find gene in df_gene_description: MT0540
normalizeReadsDF: could not find gene in df_gene_description: MT0555
normalizeReadsDF: could not find gene in df_gene_description: MT0568
normalizeReadsDF: could not find gene in df_gene_description: MT0573.1
normalizeReadsDF: could not find gene in df_gene_description: MT0576
normalizeReadsDF: could not find gene in df_gene_description: MT0598
normalizeReadsDF: could not find gene in df_gene_description: MT0600
normalizeReadsDF: could not find gene in df_gene_description: MT0603
normalizeReadsDF: could not find gene in df_gene_description: MT0608
normalizeReadsDF: could not find gene in df_gene_description: MT0610
normalizeReadsDF: could not find gene in df_gene_description: MT0614
normalizeReadsDF: could not find gene in df_gene_description: MT0639
normalizeReadsDF: could not find gene in df_gene_description: MT0655
normalizeReadsDF: could not find gene in df_gene_description: MT0692.1
normalizeReadsDF: could not find gene in df_gene_description: MT0694
normalizeReadsDF: could not find gene in df_gene_description: MT0697
normalizeReadsDF: could not find gene in df_gene_description: MT0717.1
normalizeReadsDF: could not find gene in df_gene_description: MT0724.1
normalizeReadsDF: could not find gene in df_gene_description: MT0725
normalizeReadsDF: could not find gene in df_gene_description: MT0726
normalizeReadsDF: could not find gene in df_gene_description: MT0726.1
normalizeReadsDF: could not find gene in df_gene_description: MT0740.1
normalizeReadsDF: could not find gene in df_gene_description: MT0761
normalizeReadsDF: could not find gene in df_gene_description: MT0762.1
normalizeReadsDF: could not find gene in df_gene_description: MT0765
normalizeReadsDF: could not find gene in df_gene_description: MT0768.1
normalizeReadsDF: could not find gene in df_gene_description: MT0771
normalizeReadsDF: could not find gene in df_gene_description: MT0772.2
normalizeReadsDF: could not find gene in df_gene_description: MT0781
normalizeReadsDF: could not find gene in df_gene_description: MT0806
normalizeReadsDF: could not find gene in df_gene_description: MT0827
normalizeReadsDF: could not find gene in df_gene_description: MT0835
normalizeReadsDF: could not find gene in df_gene_description: MT0853
normalizeReadsDF: could not find gene in df_gene_description: MT0856.1
normalizeReadsDF: could not find gene in df_gene_description: MT0859
normalizeReadsDF: could not find gene in df_gene_description: MT0868
normalizeReadsDF: could not find gene in df_gene_description: MT0895
normalizeReadsDF: could not find gene in df_gene_description: MT0903
normalizeReadsDF: could not find gene in df_gene_description: MT0910.1
normalizeReadsDF: could not find gene in df_gene_description: MT0910.2
normalizeReadsDF: could not find gene in df_gene_description: MT0910.3
normalizeReadsDF: could not find gene in df_gene_description: MT0910.4
normalizeReadsDF: could not find gene in df_gene_description: MT0915.1
normalizeReadsDF: could not find gene in df_gene_description: MT0932
normalizeReadsDF: could not find gene in df_gene_description: MT0937
normalizeReadsDF: could not find gene in df_gene_description: MT0943
normalizeReadsDF: could not find gene in df_gene_description: MT0946
normalizeReadsDF: could not find gene in df_gene_description: MT0968.1
normalizeReadsDF: could not find gene in df_gene_description: MT0973
normalizeReadsDF: could not find gene in df_gene_description: MT0991
normalizeReadsDF: could not find gene in df_gene_description: MT1007
normalizeReadsDF: could not find gene in df_gene_description: MT1025.2
normalizeReadsDF: could not find gene in df_gene_description: MT1025.3
normalizeReadsDF: could not find gene in df_gene_description: MT1040.1
normalizeReadsDF: could not find gene in df_gene_description: MT1054.1
normalizeReadsDF: could not find gene in df_gene_description: MT1055
normalizeReadsDF: could not find gene in df_gene_description: MT1070
normalizeReadsDF: could not find gene in df_gene_description: MT1070.1
normalizeReadsDF: could not find gene in df_gene_description: MT1071
normalizeReadsDF: could not find gene in df_gene_description: MT1075.1
normalizeReadsDF: could not find gene in df_gene_description: MT1077
normalizeReadsDF: could not find gene in df_gene_description: MT1082
normalizeReadsDF: could not find gene in df_gene_description: MT1083.1
normalizeReadsDF: could not find gene in df_gene_description: MT1083.2
normalizeReadsDF: could not find gene in df_gene_description: MT1086
normalizeReadsDF: could not find gene in df_gene_description: MT1096.2
normalizeReadsDF: could not find gene in df_gene_description: MT1098
normalizeReadsDF: could not find gene in df_gene_description: MT1107
normalizeReadsDF: could not find gene in df_gene_description: MT1116
normalizeReadsDF: could not find gene in df_gene_description: MT1121
normalizeReadsDF: could not find gene in df_gene_description: MT1122.1
normalizeReadsDF: could not find gene in df_gene_description: MT1166
normalizeReadsDF: could not find gene in df_gene_description: MT1170
normalizeReadsDF: could not find gene in df_gene_description: MT1172.1
normalizeReadsDF: could not find gene in df_gene_description: MT1178
normalizeReadsDF: could not find gene in df_gene_description: MT1181
normalizeReadsDF: could not find gene in df_gene_description: MT1182
normalizeReadsDF: could not find gene in df_gene_description: MT1190
normalizeReadsDF: could not find gene in df_gene_description: MT1192
normalizeReadsDF: could not find gene in df_gene_description: MT1218
normalizeReadsDF: could not find gene in df_gene_description: MT1232
normalizeReadsDF: could not find gene in df_gene_description: MT1234
normalizeReadsDF: could not find gene in df_gene_description: MT1264.1
normalizeReadsDF: could not find gene in df_gene_description: MT1266
normalizeReadsDF: could not find gene in df_gene_description: MT1285
normalizeReadsDF: could not find gene in df_gene_description: MT1288
normalizeReadsDF: could not find gene in df_gene_description: MT1305.1
normalizeReadsDF: could not find gene in df_gene_description: MT1321
normalizeReadsDF: could not find gene in df_gene_description: MT1342
normalizeReadsDF: could not find gene in df_gene_description: MT1356
normalizeReadsDF: could not find gene in df_gene_description: MT1367.1
normalizeReadsDF: could not find gene in df_gene_description: MT1401
normalizeReadsDF: could not find gene in df_gene_description: MT1404
normalizeReadsDF: could not find gene in df_gene_description: MT1414.1
normalizeReadsDF: could not find gene in df_gene_description: MT1432
normalizeReadsDF: could not find gene in df_gene_description: MT1479.1
normalizeReadsDF: could not find gene in df_gene_description: MT1488
normalizeReadsDF: could not find gene in df_gene_description: MT1490
normalizeReadsDF: could not find gene in df_gene_description: MT1497.2
normalizeReadsDF: could not find gene in df_gene_description: MT1537
normalizeReadsDF: could not find gene in df_gene_description: MT1556.1
normalizeReadsDF: could not find gene in df_gene_description: MT1560.1
normalizeReadsDF: could not find gene in df_gene_description: MT1571
normalizeReadsDF: could not find gene in df_gene_description: MT1578.1
normalizeReadsDF: could not find gene in df_gene_description: MT1585.1
normalizeReadsDF: could not find gene in df_gene_description: MT1602
normalizeReadsDF: could not find gene in df_gene_description: MT1627
normalizeReadsDF: could not find gene in df_gene_description: MT1650
normalizeReadsDF: could not find gene in df_gene_description: MT1650.1
normalizeReadsDF: could not find gene in df_gene_description: MT1713
normalizeReadsDF: could not find gene in df_gene_description: MT1717
normalizeReadsDF: could not find gene in df_gene_description: MT1742
normalizeReadsDF: could not find gene in df_gene_description: MT1746.1
normalizeReadsDF: could not find gene in df_gene_description: MT1757
normalizeReadsDF: could not find gene in df_gene_description: MT1759
normalizeReadsDF: could not find gene in df_gene_description: MT1760
normalizeReadsDF: could not find gene in df_gene_description: MT1771.1
normalizeReadsDF: could not find gene in df_gene_description: MT1775
normalizeReadsDF: could not find gene in df_gene_description: MT1777
normalizeReadsDF: could not find gene in df_gene_description: MT1790
normalizeReadsDF: could not find gene in df_gene_description: MT1798
normalizeReadsDF: could not find gene in df_gene_description: MT1808
normalizeReadsDF: could not find gene in df_gene_description: MT1821.1
normalizeReadsDF: could not find gene in df_gene_description: MT1822
normalizeReadsDF: could not find gene in df_gene_description: MT1838.1
normalizeReadsDF: could not find gene in df_gene_description: MT1839.1
normalizeReadsDF: could not find gene in df_gene_description: MT1849.1
normalizeReadsDF: could not find gene in df_gene_description: MT1909
normalizeReadsDF: could not find gene in df_gene_description: MT1916
normalizeReadsDF: could not find gene in df_gene_description: MT1924.1
normalizeReadsDF: could not find gene in df_gene_description: MT1936
normalizeReadsDF: could not find gene in df_gene_description: MT1945
normalizeReadsDF: could not find gene in df_gene_description: MT1957.1
normalizeReadsDF: could not find gene in df_gene_description: MT1978
normalizeReadsDF: could not find gene in df_gene_description: MT2007
normalizeReadsDF: could not find gene in df_gene_description: MT2011
normalizeReadsDF: could not find gene in df_gene_description: MT2015
normalizeReadsDF: could not find gene in df_gene_description: MT2015.1
normalizeReadsDF: could not find gene in df_gene_description: MT2015.2
normalizeReadsDF: could not find gene in df_gene_description: MT2027
normalizeReadsDF: could not find gene in df_gene_description: MT2038
normalizeReadsDF: could not find gene in df_gene_description: MT2042.1
normalizeReadsDF: could not find gene in df_gene_description: MT2045
normalizeReadsDF: could not find gene in df_gene_description: MT2068
normalizeReadsDF: could not find gene in df_gene_description: MT2083
normalizeReadsDF: could not find gene in df_gene_description: MT2092
normalizeReadsDF: could not find gene in df_gene_description: MT2113
normalizeReadsDF: could not find gene in df_gene_description: MT2115
normalizeReadsDF: could not find gene in df_gene_description: MT2138.1
normalizeReadsDF: could not find gene in df_gene_description: MT2138.2
normalizeReadsDF: could not find gene in df_gene_description: MT2142
normalizeReadsDF: could not find gene in df_gene_description: MT2165
normalizeReadsDF: could not find gene in df_gene_description: MT2165.1
normalizeReadsDF: could not find gene in df_gene_description: MT2168
normalizeReadsDF: could not find gene in df_gene_description: MT2246
normalizeReadsDF: could not find gene in df_gene_description: MT2283
normalizeReadsDF: could not find gene in df_gene_description: MT2316
normalizeReadsDF: could not find gene in df_gene_description: MT2325
normalizeReadsDF: could not find gene in df_gene_description: MT2326
normalizeReadsDF: could not find gene in df_gene_description: MT2330.1
normalizeReadsDF: could not find gene in df_gene_description: MT2341
normalizeReadsDF: could not find gene in df_gene_description: MT2361.1
normalizeReadsDF: could not find gene in df_gene_description: MT2363
normalizeReadsDF: could not find gene in df_gene_description: MT2364.1
normalizeReadsDF: could not find gene in df_gene_description: MT2367
normalizeReadsDF: could not find gene in df_gene_description: MT2367.1
normalizeReadsDF: could not find gene in df_gene_description: MT2369
normalizeReadsDF: could not find gene in df_gene_description: MT2370
normalizeReadsDF: could not find gene in df_gene_description: MT2370.1
normalizeReadsDF: could not find gene in df_gene_description: MT2370.2
normalizeReadsDF: could not find gene in df_gene_description: MT2371
normalizeReadsDF: could not find gene in df_gene_description: MT2375
normalizeReadsDF: could not find gene in df_gene_description: MT2396
normalizeReadsDF: could not find gene in df_gene_description: MT2401.1
normalizeReadsDF: could not find gene in df_gene_description: MT2401.2
normalizeReadsDF: could not find gene in df_gene_description: MT2405
normalizeReadsDF: could not find gene in df_gene_description: MT2417
normalizeReadsDF: could not find gene in df_gene_description: MT2418
normalizeReadsDF: could not find gene in df_gene_description: MT2423.1
normalizeReadsDF: could not find gene in df_gene_description: MT2424
normalizeReadsDF: could not find gene in df_gene_description: MT2438
normalizeReadsDF: could not find gene in df_gene_description: MT2455
normalizeReadsDF: could not find gene in df_gene_description: MT2460
normalizeReadsDF: could not find gene in df_gene_description: MT2480
normalizeReadsDF: could not find gene in df_gene_description: MT2488.1
normalizeReadsDF: could not find gene in df_gene_description: MT2501
normalizeReadsDF: could not find gene in df_gene_description: MT2502
normalizeReadsDF: could not find gene in df_gene_description: MT2510
normalizeReadsDF: could not find gene in df_gene_description: MT2514
normalizeReadsDF: could not find gene in df_gene_description: MT2518.1
normalizeReadsDF: could not find gene in df_gene_description: MT2520.1
normalizeReadsDF: could not find gene in df_gene_description: MT2541
normalizeReadsDF: could not find gene in df_gene_description: MT2547.2
normalizeReadsDF: could not find gene in df_gene_description: MT2554.1
normalizeReadsDF: could not find gene in df_gene_description: MT2554.2
normalizeReadsDF: could not find gene in df_gene_description: MT2558
normalizeReadsDF: could not find gene in df_gene_description: MT2565
normalizeReadsDF: could not find gene in df_gene_description: MT2586.1
normalizeReadsDF: could not find gene in df_gene_description: MT2588
normalizeReadsDF: could not find gene in df_gene_description: MT2589.1
normalizeReadsDF: could not find gene in df_gene_description: MT2593.2
normalizeReadsDF: could not find gene in df_gene_description: MT2600.1
normalizeReadsDF: could not find gene in df_gene_description: MT2601.1
normalizeReadsDF: could not find gene in df_gene_description: MT2617
normalizeReadsDF: could not find gene in df_gene_description: MT2626
normalizeReadsDF: could not find gene in df_gene_description: MT2627.1
normalizeReadsDF: could not find gene in df_gene_description: MT2637.1
normalizeReadsDF: could not find gene in df_gene_description: MT2653
normalizeReadsDF: could not find gene in df_gene_description: MT2668
normalizeReadsDF: could not find gene in df_gene_description: MT2710
normalizeReadsDF: could not find gene in df_gene_description: MT2721
normalizeReadsDF: could not find gene in df_gene_description: MT2722
normalizeReadsDF: could not find gene in df_gene_description: MT2726
normalizeReadsDF: could not find gene in df_gene_description: MT2736.1
normalizeReadsDF: could not find gene in df_gene_description: MT2779
normalizeReadsDF: could not find gene in df_gene_description: MT2803.1
normalizeReadsDF: could not find gene in df_gene_description: MT2807
normalizeReadsDF: could not find gene in df_gene_description: MT2810
normalizeReadsDF: could not find gene in df_gene_description: MT2837
normalizeReadsDF: could not find gene in df_gene_description: MT2895
normalizeReadsDF: could not find gene in df_gene_description: MT2924
normalizeReadsDF: could not find gene in df_gene_description: MT2934
normalizeReadsDF: could not find gene in df_gene_description: MT2941
normalizeReadsDF: could not find gene in df_gene_description: MT2944
normalizeReadsDF: could not find gene in df_gene_description: MT2950
normalizeReadsDF: could not find gene in df_gene_description: MT2958.1
normalizeReadsDF: could not find gene in df_gene_description: MT2960
normalizeReadsDF: could not find gene in df_gene_description: MT2983
normalizeReadsDF: could not find gene in df_gene_description: MT2988.1
normalizeReadsDF: could not find gene in df_gene_description: MT2993
normalizeReadsDF: could not find gene in df_gene_description: MT3013
normalizeReadsDF: could not find gene in df_gene_description: MT3014
normalizeReadsDF: could not find gene in df_gene_description: MT3024
normalizeReadsDF: could not find gene in df_gene_description: MT3032
normalizeReadsDF: could not find gene in df_gene_description: MT3033
normalizeReadsDF: could not find gene in df_gene_description: MT3037
normalizeReadsDF: could not find gene in df_gene_description: MT3041.1
normalizeReadsDF: could not find gene in df_gene_description: MT3042
normalizeReadsDF: could not find gene in df_gene_description: MT3052.2
normalizeReadsDF: could not find gene in df_gene_description: MT3058.1
normalizeReadsDF: could not find gene in df_gene_description: MT3058.2
normalizeReadsDF: could not find gene in df_gene_description: MT3077
normalizeReadsDF: could not find gene in df_gene_description: MT3080.1
normalizeReadsDF: could not find gene in df_gene_description: MT3084

normalizeReadsDF: could not find gene in df_gene_description: Rv0530A
normalizeReadsDF: could not find gene in df_gene_description: Rv0616A
normalizeReadsDF: could not find gene in df_gene_description: Rv0691A
normalizeReadsDF: could not find gene in df_gene_description: Rv0959A
normalizeReadsDF: could not find gene in df_gene_description: Rv1366A
normalizeReadsDF: could not find gene in df_gene_description: Rv1962A
normalizeReadsDF: could not find gene in df_gene_description: Rv1982A
normalizeReadsDF: could not find gene in df_gene_description: Rv1991A
normalizeReadsDF: could not find gene in df_gene_description: Rv2063A
normalizeReadsDF: could not find gene in df_gene_description: Rv2142A
normalizeReadsDF: could not find gene in df_gene_description: Rv2231A
normalizeReadsDF: could not find gene in df_gene_description: Rv2231B
normalizeReadsDF: could not find gene in df_gene_description: Rv2237A
normalizeReadsDF: could not find gene in df_gene_description: Rv2274A
normalizeReadsDF: could not find gene in df_gene_description: Rv2395A
normalizeReadsDF: could not find gene in df_gene_description: Rv2395B
normalizeReadsDF: could not find gene in df_gene_description: Rv2427A
normalizeReadsDF: could not find gene in df_gene_description: Rv2468A
normalizeReadsDF: could not find gene in df_gene_description: Rv2548A
normalizeReadsDF: could not find gene in df_gene_description: Rv2801A
normalizeReadsDF: could not find gene in df_gene_description: Rv2828A
normalizeReadsDF: could not find gene in df_gene_description: Rv2862A
normalizeReadsDF: could not find gene in df_gene_description: Rv3032A
normalizeReadsDF: could not find gene in df_gene_description: Rv3098A
normalizeReadsDF: could not find gene in df_gene_description: Rv3136A
normalizeReadsDF: could not find gene in df_gene_description: Rv3190A
normalizeReadsDF: could not find gene in df_gene_description: Rv3697A
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0003
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0004
normalizeReadsDF: could not find gene in df_gene_description: RVnc0005
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0007
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0008
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0009
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0010
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0011
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0012
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0013
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0014
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0015
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0016
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0017
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0018
normalizeReadsDF: could not find gene in df_gene_description: RVnc0046
normalizeReadsDF: could not find gene in df_gene_description: AS1726
normalizeReadsDF: could not find gene in df_gene_description: AS1890
normalizeReadsDF: could not find gene in df_gene_description: ASdes
normalizeReadsDF: could not find gene in df_gene_description: ASpks
normalizeReadsDF: could not find gene in df_gene_description: MT0009
normalizeReadsDF: could not find gene in df_gene_description: MT0012
normalizeReadsDF: could not find gene in df_gene_description: MT0025
normalizeReadsDF: could not find gene in df_gene_description: MT0031
normalizeReadsDF: could not find gene in df_gene_description: MT0032
normalizeReadsDF: could not find gene in df_gene_description: MT0036
normalizeReadsDF: could not find gene in df_gene_description: MT0066.2
normalizeReadsDF: could not find gene in df_gene_description: MT0069
normalizeReadsDF: could not find gene in df_gene_description: MT0099.1
normalizeReadsDF: could not find gene in df_gene_description: MT0116.1
normalizeReadsDF: could not find gene in df_gene_description: MT0122
normalizeReadsDF: could not find gene in df_gene_description: MT0124
normalizeReadsDF: could not find gene in df_gene_description: MT0130
normalizeReadsDF: could not find gene in df_gene_description: MT0159
normalizeReadsDF: could not find gene in df_gene_description: MT0177
normalizeReadsDF: could not find gene in df_gene_description: MT0204.1
normalizeReadsDF: could not find gene in df_gene_description: MT0270
normalizeReadsDF: could not find gene in df_gene_description: MT0270.2
normalizeReadsDF: could not find gene in df_gene_description: MT0291.1
normalizeReadsDF: could not find gene in df_gene_description: MT0291.2
normalizeReadsDF: could not find gene in df_gene_description: MT0291.4
normalizeReadsDF: could not find gene in df_gene_description: MT0294
normalizeReadsDF: could not find gene in df_gene_description: MT0325
normalizeReadsDF: could not find gene in df_gene_description: MT0328.1
normalizeReadsDF: could not find gene in df_gene_description: MT0328.2
normalizeReadsDF: could not find gene in df_gene_description: MT0347
normalizeReadsDF: could not find gene in df_gene_description: MT0383
normalizeReadsDF: could not find gene in df_gene_description: MT0392
normalizeReadsDF: could not find gene in df_gene_description: MT0407
normalizeReadsDF: could not find gene in df_gene_description: MT0416
normalizeReadsDF: could not find gene in df_gene_description: MT0431
normalizeReadsDF: could not find gene in df_gene_description: MT0450
normalizeReadsDF: could not find gene in df_gene_description: MT0470
normalizeReadsDF: could not find gene in df_gene_description: MT0472.1
normalizeReadsDF: could not find gene in df_gene_description: MT0492
normalizeReadsDF: could not find gene in df_gene_description: MT0494
normalizeReadsDF: could not find gene in df_gene_description: MT0506
normalizeReadsDF: could not find gene in df_gene_description: MT0512
normalizeReadsDF: could not find gene in df_gene_description: MT0525
normalizeReadsDF: could not find gene in df_gene_description: MT0540
normalizeReadsDF: could not find gene in df_gene_description: MT0555
normalizeReadsDF: could not find gene in df_gene_description: MT0568
normalizeReadsDF: could not find gene in df_gene_description: MT0573.1
normalizeReadsDF: could not find gene in df_gene_description: MT0576
normalizeReadsDF: could not find gene in df_gene_description: MT0598
normalizeReadsDF: could not find gene in df_gene_description: MT0600
normalizeReadsDF: could not find gene in df_gene_description: MT0603
normalizeReadsDF: could not find gene in df_gene_description: MT0608
normalizeReadsDF: could not find gene in df_gene_description: MT0610
normalizeReadsDF: could not find gene in df_gene_description: MT0614
normalizeReadsDF: could not find gene in df_gene_description: MT0639
normalizeReadsDF: could not find gene in df_gene_description: MT0655
normalizeReadsDF: could not find gene in df_gene_description: MT0692.1
normalizeReadsDF: could not find gene in df_gene_description: MT0694
normalizeReadsDF: could not find gene in df_gene_description: MT0697
normalizeReadsDF: could not find gene in df_gene_description: MT0717.1
normalizeReadsDF: could not find gene in df_gene_description: MT0724.1
normalizeReadsDF: could not find gene in df_gene_description: MT0725
normalizeReadsDF: could not find gene in df_gene_description: MT0726
normalizeReadsDF: could not find gene in df_gene_description: MT0726.1
normalizeReadsDF: could not find gene in df_gene_description: MT0740.1
normalizeReadsDF: could not find gene in df_gene_description: MT0761
normalizeReadsDF: could not find gene in df_gene_description: MT0762.1
normalizeReadsDF: could not find gene in df_gene_description: MT0765
normalizeReadsDF: could not find gene in df_gene_description: MT0768.1
normalizeReadsDF: could not find gene in df_gene_description: MT0771
normalizeReadsDF: could not find gene in df_gene_description: MT0772.2
normalizeReadsDF: could not find gene in df_gene_description: MT0781
normalizeReadsDF: could not find gene in df_gene_description: MT0806
normalizeReadsDF: could not find gene in df_gene_description: MT0827
normalizeReadsDF: could not find gene in df_gene_description: MT0835
normalizeReadsDF: could not find gene in df_gene_description: MT0853
normalizeReadsDF: could not find gene in df_gene_description: MT0856.1
normalizeReadsDF: could not find gene in df_gene_description: MT0859
normalizeReadsDF: could not find gene in df_gene_description: MT0868
normalizeReadsDF: could not find gene in df_gene_description: MT0895
normalizeReadsDF: could not find gene in df_gene_description: MT0903
normalizeReadsDF: could not find gene in df_gene_description: MT0910.1
normalizeReadsDF: could not find gene in df_gene_description: MT0910.2
normalizeReadsDF: could not find gene in df_gene_description: MT0910.3
normalizeReadsDF: could not find gene in df_gene_description: MT0910.4
normalizeReadsDF: could not find gene in df_gene_description: MT0915.1
normalizeReadsDF: could not find gene in df_gene_description: MT0932
normalizeReadsDF: could not find gene in df_gene_description: MT0937
normalizeReadsDF: could not find gene in df_gene_description: MT0943
normalizeReadsDF: could not find gene in df_gene_description: MT0946
normalizeReadsDF: could not find gene in df_gene_description: MT0968.1
normalizeReadsDF: could not find gene in df_gene_description: MT0973
normalizeReadsDF: could not find gene in df_gene_description: MT0991
normalizeReadsDF: could not find gene in df_gene_description: MT1007
normalizeReadsDF: could not find gene in df_gene_description: MT1025.2
normalizeReadsDF: could not find gene in df_gene_description: MT1025.3
normalizeReadsDF: could not find gene in df_gene_description: MT1040.1
normalizeReadsDF: could not find gene in df_gene_description: MT1054.1
normalizeReadsDF: could not find gene in df_gene_description: MT1055
normalizeReadsDF: could not find gene in df_gene_description: MT1070
normalizeReadsDF: could not find gene in df_gene_description: MT1070.1
normalizeReadsDF: could not find gene in df_gene_description: MT1071
normalizeReadsDF: could not find gene in df_gene_description: MT1075.1
normalizeReadsDF: could not find gene in df_gene_description: MT1077
normalizeReadsDF: could not find gene in df_gene_description: MT1082
normalizeReadsDF: could not find gene in df_gene_description: MT1083.1
normalizeReadsDF: could not find gene in df_gene_description: MT1083.2
normalizeReadsDF: could not find gene in df_gene_description: MT1086
normalizeReadsDF: could not find gene in df_gene_description: MT1096.2
normalizeReadsDF: could not find gene in df_gene_description: MT1098
normalizeReadsDF: could not find gene in df_gene_description: MT1107
normalizeReadsDF: could not find gene in df_gene_description: MT1116
normalizeReadsDF: could not find gene in df_gene_description: MT1121
normalizeReadsDF: could not find gene in df_gene_description: MT1122.1
normalizeReadsDF: could not find gene in df_gene_description: MT1166
normalizeReadsDF: could not find gene in df_gene_description: MT1170
normalizeReadsDF: could not find gene in df_gene_description: MT1172.1
normalizeReadsDF: could not find gene in df_gene_description: MT1178
normalizeReadsDF: could not find gene in df_gene_description: MT1181
normalizeReadsDF: could not find gene in df_gene_description: MT1182
normalizeReadsDF: could not find gene in df_gene_description: MT1190
normalizeReadsDF: could not find gene in df_gene_description: MT1192
normalizeReadsDF: could not find gene in df_gene_description: MT1218
normalizeReadsDF: could not find gene in df_gene_description: MT1232
normalizeReadsDF: could not find gene in df_gene_description: MT1234
normalizeReadsDF: could not find gene in df_gene_description: MT1264.1
normalizeReadsDF: could not find gene in df_gene_description: MT1266
normalizeReadsDF: could not find gene in df_gene_description: MT1285
normalizeReadsDF: could not find gene in df_gene_description: MT1288
normalizeReadsDF: could not find gene in df_gene_description: MT1305.1
normalizeReadsDF: could not find gene in df_gene_description: MT1321
normalizeReadsDF: could not find gene in df_gene_description: MT1342
normalizeReadsDF: could not find gene in df_gene_description: MT1356
normalizeReadsDF: could not find gene in df_gene_description: MT1367.1
normalizeReadsDF: could not find gene in df_gene_description: MT1401
normalizeReadsDF: could not find gene in df_gene_description: MT1404
normalizeReadsDF: could not find gene in df_gene_description: MT1414.1
normalizeReadsDF: could not find gene in df_gene_description: MT1432
normalizeReadsDF: could not find gene in df_gene_description: MT1479.1
normalizeReadsDF: could not find gene in df_gene_description: MT1488
normalizeReadsDF: could not find gene in df_gene_description: MT1490
normalizeReadsDF: could not find gene in df_gene_description: MT1497.2
normalizeReadsDF: could not find gene in df_gene_description: MT1537
normalizeReadsDF: could not find gene in df_gene_description: MT1556.1
normalizeReadsDF: could not find gene in df_gene_description: MT1560.1
normalizeReadsDF: could not find gene in df_gene_description: MT1571
normalizeReadsDF: could not find gene in df_gene_description: MT1578.1
normalizeReadsDF: could not find gene in df_gene_description: MT1585.1
normalizeReadsDF: could not find gene in df_gene_description: MT1602
normalizeReadsDF: could not find gene in df_gene_description: MT1627
normalizeReadsDF: could not find gene in df_gene_description: MT1650
normalizeReadsDF: could not find gene in df_gene_description: MT1650.1
normalizeReadsDF: could not find gene in df_gene_description: MT1713
normalizeReadsDF: could not find gene in df_gene_description: MT1717
normalizeReadsDF: could not find gene in df_gene_description: MT1742
normalizeReadsDF: could not find gene in df_gene_description: MT1746.1
normalizeReadsDF: could not find gene in df_gene_description: MT1757
normalizeReadsDF: could not find gene in df_gene_description: MT1759
normalizeReadsDF: could not find gene in df_gene_description: MT1760
normalizeReadsDF: could not find gene in df_gene_description: MT1771.1
normalizeReadsDF: could not find gene in df_gene_description: MT1775
normalizeReadsDF: could not find gene in df_gene_description: MT1777
normalizeReadsDF: could not find gene in df_gene_description: MT1790
normalizeReadsDF: could not find gene in df_gene_description: MT1798
normalizeReadsDF: could not find gene in df_gene_description: MT1808
normalizeReadsDF: could not find gene in df_gene_description: MT1821.1
normalizeReadsDF: could not find gene in df_gene_description: MT1822
normalizeReadsDF: could not find gene in df_gene_description: MT1838.1
normalizeReadsDF: could not find gene in df_gene_description: MT1839.1
normalizeReadsDF: could not find gene in df_gene_description: MT1849.1
normalizeReadsDF: could not find gene in df_gene_description: MT1909
normalizeReadsDF: could not find gene in df_gene_description: MT1916
normalizeReadsDF: could not find gene in df_gene_description: MT1924.1
normalizeReadsDF: could not find gene in df_gene_description: MT1936
normalizeReadsDF: could not find gene in df_gene_description: MT1945
normalizeReadsDF: could not find gene in df_gene_description: MT1957.1
normalizeReadsDF: could not find gene in df_gene_description: MT1978
normalizeReadsDF: could not find gene in df_gene_description: MT2007
normalizeReadsDF: could not find gene in df_gene_description: MT2011
normalizeReadsDF: could not find gene in df_gene_description: MT2015
normalizeReadsDF: could not find gene in df_gene_description: MT2015.1
normalizeReadsDF: could not find gene in df_gene_description: MT2015.2
normalizeReadsDF: could not find gene in df_gene_description: MT2027
normalizeReadsDF: could not find gene in df_gene_description: MT2038
normalizeReadsDF: could not find gene in df_gene_description: MT2042.1
normalizeReadsDF: could not find gene in df_gene_description: MT2045
normalizeReadsDF: could not find gene in df_gene_description: MT2068
normalizeReadsDF: could not find gene in df_gene_description: MT2083
normalizeReadsDF: could not find gene in df_gene_description: MT2092
normalizeReadsDF: could not find gene in df_gene_description: MT2113
normalizeReadsDF: could not find gene in df_gene_description: MT2115
normalizeReadsDF: could not find gene in df_gene_description: MT2138.1
normalizeReadsDF: could not find gene in df_gene_description: MT2138.2
normalizeReadsDF: could not find gene in df_gene_description: MT2142
normalizeReadsDF: could not find gene in df_gene_description: MT2165
normalizeReadsDF: could not find gene in df_gene_description: MT2165.1
normalizeReadsDF: could not find gene in df_gene_description: MT2168
normalizeReadsDF: could not find gene in df_gene_description: MT2246
normalizeReadsDF: could not find gene in df_gene_description: MT2283
normalizeReadsDF: could not find gene in df_gene_description: MT2316
normalizeReadsDF: could not find gene in df_gene_description: MT2325
normalizeReadsDF: could not find gene in df_gene_description: MT2326
normalizeReadsDF: could not find gene in df_gene_description: MT2330.1
normalizeReadsDF: could not find gene in df_gene_description: MT2341
normalizeReadsDF: could not find gene in df_gene_description: MT2361.1
normalizeReadsDF: could not find gene in df_gene_description: MT2363
normalizeReadsDF: could not find gene in df_gene_description: MT2364.1
normalizeReadsDF: could not find gene in df_gene_description: MT2367
normalizeReadsDF: could not find gene in df_gene_description: MT2367.1
normalizeReadsDF: could not find gene in df_gene_description: MT2369
normalizeReadsDF: could not find gene in df_gene_description: MT2370
normalizeReadsDF: could not find gene in df_gene_description: MT2370.1
normalizeReadsDF: could not find gene in df_gene_description: MT2370.2
normalizeReadsDF: could not find gene in df_gene_description: MT2371
normalizeReadsDF: could not find gene in df_gene_description: MT2375
normalizeReadsDF: could not find gene in df_gene_description: MT2396
normalizeReadsDF: could not find gene in df_gene_description: MT2401.1
normalizeReadsDF: could not find gene in df_gene_description: MT2401.2
normalizeReadsDF: could not find gene in df_gene_description: MT2405
normalizeReadsDF: could not find gene in df_gene_description: MT2417
normalizeReadsDF: could not find gene in df_gene_description: MT2418
normalizeReadsDF: could not find gene in df_gene_description: MT2423.1
normalizeReadsDF: could not find gene in df_gene_description: MT2424
normalizeReadsDF: could not find gene in df_gene_description: MT2438
normalizeReadsDF: could not find gene in df_gene_description: MT2455
normalizeReadsDF: could not find gene in df_gene_description: MT2460
normalizeReadsDF: could not find gene in df_gene_description: MT2480
normalizeReadsDF: could not find gene in df_gene_description: MT2488.1
normalizeReadsDF: could not find gene in df_gene_description: MT2501
normalizeReadsDF: could not find gene in df_gene_description: MT2502
normalizeReadsDF: could not find gene in df_gene_description: MT2510
normalizeReadsDF: could not find gene in df_gene_description: MT2514
normalizeReadsDF: could not find gene in df_gene_description: MT2518.1
normalizeReadsDF: could not find gene in df_gene_description: MT2520.1
normalizeReadsDF: could not find gene in df_gene_description: MT2541
normalizeReadsDF: could not find gene in df_gene_description: MT2547.2
normalizeReadsDF: could not find gene in df_gene_description: MT2554.1
normalizeReadsDF: could not find gene in df_gene_description: MT2554.2
normalizeReadsDF: could not find gene in df_gene_description: MT2558
normalizeReadsDF: could not find gene in df_gene_description: MT2565
normalizeReadsDF: could not find gene in df_gene_description: MT2586.1
normalizeReadsDF: could not find gene in df_gene_description: MT2588
normalizeReadsDF: could not find gene in df_gene_description: MT2589.1

normalizeReadsDF: could not find gene in df_gene_description: Rv0456B
normalizeReadsDF: could not find gene in df_gene_description: Rv0530A
normalizeReadsDF: could not find gene in df_gene_description: Rv0616A
normalizeReadsDF: could not find gene in df_gene_description: Rv0691A
normalizeReadsDF: could not find gene in df_gene_description: Rv0959A
normalizeReadsDF: could not find gene in df_gene_description: Rv1366A
normalizeReadsDF: could not find gene in df_gene_description: Rv1962A
normalizeReadsDF: could not find gene in df_gene_description: Rv1982A
normalizeReadsDF: could not find gene in df_gene_description: Rv1991A
normalizeReadsDF: could not find gene in df_gene_description: Rv2063A
normalizeReadsDF: could not find gene in df_gene_description: Rv2142A
normalizeReadsDF: could not find gene in df_gene_description: Rv2231A
normalizeReadsDF: could not find gene in df_gene_description: Rv2231B
normalizeReadsDF: could not find gene in df_gene_description: Rv2237A
normalizeReadsDF: could not find gene in df_gene_description: Rv2274A
normalizeReadsDF: could not find gene in df_gene_description: Rv2395A
normalizeReadsDF: could not find gene in df_gene_description: Rv2395B
normalizeReadsDF: could not find gene in df_gene_description: Rv2427A
normalizeReadsDF: could not find gene in df_gene_description: Rv2468A
normalizeReadsDF: could not find gene in df_gene_description: Rv2548A
normalizeReadsDF: could not find gene in df_gene_description: Rv2801A
normalizeReadsDF: could not find gene in df_gene_description: Rv2828A
normalizeReadsDF: could not find gene in df_gene_description: Rv2862A
normalizeReadsDF: could not find gene in df_gene_description: Rv3032A
normalizeReadsDF: could not find gene in df_gene_description: Rv3098A
normalizeReadsDF: could not find gene in df_gene_description: Rv3136A
normalizeReadsDF: could not find gene in df_gene_description: Rv3190A
normalizeReadsDF: could not find gene in df_gene_description: Rv3697A
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0003
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0004
normalizeReadsDF: could not find gene in df_gene_description: RVnc0005
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0007
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0008
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0009
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0010
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0011
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0012
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0013
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0014
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0015
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0016
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0017
normalizeReadsDF: could not find gene in df_gene_description: Rvnc0018
normalizeReadsDF: could not find gene in df_gene_description: RVnc0046

In [4]:
df_sampleAM = df_sampleAM.T
df_sampleAM.head()

GENE_ID,Rv0001,Rv0005,Rv0006,Rv0009,Rv0010c,Rv0011c,Rv0013,Rv0014c,Rv0016c,Rv0020c,...,Rvnt36,Rvnt37,Rvnt38,Rvnt39,Rvnt40,Rvnt41,Rvnt42,Rvnt43,Rvnt44,Rvnt45
AM_D20_1,0,1,0,0,-1,1,0,0,0,0,...,-1,1,-1,0,-1,-1,-1,-1,-1,-1
AM_D20_3,0,1,0,0,-1,1,0,0,0,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
AM_D20_4,0,1,0,0,-1,1,0,0,0,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
AM_D20_5,0,1,0,0,-1,1,0,0,0,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
MDM_D20_1,1,0,0,0,-1,1,0,0,0,0,...,-1,0,-1,-1,-1,-1,-1,-1,-1,-1

In [5]:
df_sampleAW = df_sampleAW.T
df_sampleAW.head()

GENE_ID,Rv0001,Rv0005,Rv0006,Rv0009,Rv0010c,Rv0011c,Rv0013,Rv0014c,Rv0016c,Rv0020c,...,Rvnt36,Rvnt37,Rvnt38,Rvnt39,Rvnt40,Rvnt41,Rvnt42,Rvnt43,Rvnt44,Rvnt45
AW_plus_1,0,0,0,0,-1,0,-1,0,0,0,...,0,0,-1,0,-1,0,-1,0,0,-1
AW_neg_1,1,1,0,0,-1,1,-1,0,0,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
AW_plus_3,0,0,0,0,-1,1,0,0,0,0,...,0,0,-1,0,-1,-1,-1,-1,-1,-1
AW_neg_3,1,0,0,0,-1,1,0,0,0,0,...,0,-1,-1,-1,-1,-1,-1,-1,-1,-1
AW_plus_4,0,0,0,0,-1,1,0,0,0,0,...,0,0,-1,-1,-1,-1,-1,-1,-1,1

## Classification Validations
Classify T2-T25 and see if result is same as original class

In [6]:
provider = DataProvider(is_normalize=False)
provider.do()

In [7]:
def getTimeSample(time_index):
    df0 = provider.dfs_cenered_adjusted_read_count[0]
    num = len(provider.dfs_cenered_adjusted_read_count)
    ser = pd.Series(np.repeat(0, len(df0.index)), index=df0.index)
    for idx in range(num):
        ser += provider.dfs_cenered_adjusted_read_count[idx][time_index]
    df = pd.DataFrame(ser/num)
    df_result = transform_data.trinaryReadsDF(df_sample=df)
    return df_result.T

In [8]:
getTimeSample(2).head()

,Rv0001,Rv0005,Rv0006,Rv0009,Rv0010c,Rv0011c,Rv0013,Rv0014c,Rv0016c,Rv0020c,...,Rvnt36,Rvnt37,Rvnt38,Rvnt39,Rvnt40,Rvnt41,Rvnt42,Rvnt43,Rvnt44,Rvnt45
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
provider.dfs_cenered_adjusted_read_count[1].head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
Rv0001,702.025149,779.516150,1070.330107,521.248835,966.936447,484.195823,555.040510,831.962319,596.055777,436.412031,...,506.720680,1530.537317,4200.945280,907.661559,1659.302171,1416.808965,5445.610535,4040.124851,5459.701691,3478.791893
Rv0002,220.542687,269.453675,294.591012,153.028891,341.369245,149.461221,201.155532,327.676794,242.204515,179.118978,...,177.739408,256.130243,691.319398,396.455696,802.463710,660.245464,1097.233307,802.762651,1318.670928,1119.141608
Rv0003,148.669755,187.943639,190.481241,106.776727,205.851134,116.123453,120.865985,202.136128,239.309429,146.433324,...,170.142117,112.541873,314.458794,485.423051,983.433213,798.439168,482.854483,351.746580,675.442802,654.404557
Rv0004,64.976837,78.559085,65.477927,42.324591,71.765955,55.447652,42.010891,79.341913,83.944223,56.747405,...,64.590251,37.974005,134.469445,186.848768,264.589160,253.882070,231.471136,131.026697,285.204421,257.650020
Rv0005,2092.706817,2597.726971,3710.897521,1814.472108,3728.950511,1691.858454,2279.187143,3903.237362,1298.180611,1604.445036,...,607.371497,2610.424762,8464.092664,947.115256,1741.190571,1454.655816,6385.647779,5896.320893,10056.039420,9844.403232

In [10]:
svm_ensemble = classifier_ensemble.ClassifierEnsemble(
        classifier_ensemble.ClassifierDescriptorSVM(), filter_high_rank=15, size=30)
df_X = data.df_X.copy()
df_X.columns = data.features
svm_ensemble.fit(df_X, data.ser_y)

In [ ]:
if False:
    data.ser_y
    df_expected = pd.DataFrame(data.ser_y)
    df_expected.columns = ["columns"]
    df_expected["values"] = 1.0
    dff_expected = df_expected.pivot(columns="columns", values="values")
    dff_expected = dff_expected.fillna(0)
    dff_expected.index = [int(v[1:]) for v in dff_expected.index]
    dff_expected 
    df_diff = (dff_expected - dfff)
    df_diff = df_diff.applymap(lambda v: np.abs(v))
    df_diff.sum().sum()/len(df_diff)

## Classification of Lab Samples

In [13]:
svm_ensemble = classifier_ensemble.ClassifierEnsemble(
        classifier_ensemble.ClassifierDescriptorSVM(), filter_high_rank=15, size=30)
df_X = data.df_X.copy()
df_X.columns = data.features
svm_ensemble.fit(df_X, data.ser_y)

In [14]:
svm_ensemble.predict(df_sampleAM)

             0         1         2    3         4
AM_D20_1   0.0  0.066667  0.933333  0.0  0.000000
AM_D20_3   0.0  1.000000  0.000000  0.0  0.000000
AM_D20_4   0.0  0.933333  0.033333  0.0  0.033333
AM_D20_5   0.0  1.000000  0.000000  0.0  0.000000
MDM_D20_1  0.0  1.000000  0.000000  0.0  0.000000
MDM_D20_3  0.0  1.000000  0.000000  0.0  0.000000
MDM_D20_4  0.0  1.000000  0.000000  0.0  0.000000
MDM_D20_5  0.0  1.000000  0.000000  0.0  0.000000

In [15]:
svm_ensemble.predict(df_sampleAW)

             0         1         2    3    4
AW_plus_1  0.0  0.966667  0.033333  0.0  0.0
AW_neg_1   0.0  0.066667  0.933333  0.0  0.0
AW_plus_3  0.0  0.000000  1.000000  0.0  0.0
AW_neg_3   0.0  0.966667  0.033333  0.0  0.0
AW_plus_4  0.0  0.066667  0.933333  0.0  0.0
AW_neg_4   0.0  1.000000  0.000000  0.0  0.0

## Comparisons With Random Forest

In [16]:
dummy_columns = [v+"-" for v in data.features]
truncated_columns = [f[0:f.index("-")] for f in dummy_columns]
len(truncated_columns)
df_X = data.df_X.copy()
df_X.columns = truncated_columns

In [17]:
clf = ClassifierEnsembleRandomForest(size=150, filter_high_rank=30)
clf.fit(df_X, data.ser_y)

/home/ubuntu/miniconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [18]:
df_sampleAM[truncated_columns].head()

GENE_ID,Rv1927,Rv1129c,Rv3085,Rv3083,Rv3086,Rv2226,Rv0260c,Rv1365c,Rv3084,Rv0975c,...,Rv3267,Rv2748c,Rv3260c,Rv0350,Rv2737c,Rv0440,Rv2734,Rv0519c,Rv3418c,Rv3269
AM_D20_1,1,-1,-1,0,0,-1,-1,0,-1,-1,...,0,-1,0,0,0,0,0,-1,1,0
AM_D20_3,0,-1,0,0,0,-1,-1,0,-1,-1,...,-1,-1,0,0,0,0,-1,-1,0,0
AM_D20_4,0,-1,-1,1,0,-1,-1,1,-1,-1,...,-1,-1,1,0,1,-1,-1,-1,0,0
AM_D20_5,0,-1,0,0,0,-1,-1,-1,-1,-1,...,0,-1,0,0,1,1,0,-1,1,1
MDM_D20_1,1,0,-1,0,-1,-1,-1,0,-1,-1,...,0,-1,0,0,0,0,0,0,1,0

In [19]:
clf.predict(df_sampleAM[clf.columns])

           0    1  2  3  4
AM_D20_1   0  1.0  0  0  0
AM_D20_3   0  1.0  0  0  0
AM_D20_4   0  1.0  0  0  0
AM_D20_5   0  1.0  0  0  0
MDM_D20_1  0  1.0  0  0  0
MDM_D20_3  0  1.0  0  0  0
MDM_D20_4  0  1.0  0  0  0
MDM_D20_5  0  1.0  0  0  0

In [ ]:
,Resuscitation,Transition,StageII,Stage1a,Stage1b
AM_D20_1,0.0,0.3,0.0,0.0,0.7
AM_D20_3,0.0,0.3,0.0,0.0,0.7
AM_D20_4,0.0,0.0,0.0,0.0,1.0
AM_D20_5,0.0,0.3,0.0,0.0,0.7
MDM_D20_1,0.0,0.3,0.0,0.0,0.7
MDM_D20_3,0.0,0.3,0.0,0.0,0.7
MDM_D20_4,0.0,1.0,0.0,0.0,0.0
MDM_D20_5,0.0,0.3,0.0,0.0,0.7

In [20]:
clf.predict(df_sampleAW[truncated_columns])

ValueError: Number of features of the model must match the input. Model n_features is 30 and input n_features is 1515

## Random Forest Validations

In [ ]:
set(clf.columns).difference(data.features)

In [ ]:
df_X = data.df_X.copy()
df_X.columns = data.features
df_X[clf.columns]

In [ ]:
def calcCVR(num_features, num_classifiers, num_iterations=10):
     clf = ClassifierEnsembleRandomForest(
         filter_high_rank=num_features, size=num_classifiers)
     return classifier_collection.ClassifierCollection.crossValidateByState(
         clf, df_X, data.ser_y, num_iterations)

In [ ]:
calcCVR(30, 100)